
img{
width:300px;
margin-left: 0px;
border-radius: 100%;
border-color:rgb(0, 0, 0);
}
body{
    background-image: url(fundo.jpg);
color: #f0f8ff;
font-size: x-large;
font-family: Arial;
}
h1{
    color: aqua;
text-align: center;
}
ul{color: rgb(204, 0, 255);}